{{#each this}}
<li class="movie-list-item">
    <article class="card">
        <div class="card-thumb">
            <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" loading="lazy" class="card-img" alt="{{title}} | {{original_title}}"
                title="{{title}}" />
        </div>
        <div class="card-content">
            <h2 class="card-title">{{title}}</h2>
            <p class="card-original-title">{{original_title}}</p>
            <ul class="card-list">
                <li class="card-list-item">
                    <p>๐ <b>ะะฐัะฐ ะฟัะตะผ'ััะธ: </b>{{release_date}}</p>
                </li>
                <li class="card-list-item">
                    <p>โญ <b>ะะตะนัะธะฝะณ: </b>{{vote_average}}/10</p>
                </li>
                <li class="card-list-item">
                    <p>๐ <b>ะะฝะดะตะบั ะฟะพะฟัะปััะฝะพััั: </b>{{popularity}}</p>
                </li>
            </ul>
            <div class="emojis">
                <div class="emoji">๐</div>
                <div class="emoji">โค</div>
                <div class="emoji">๐</div>
                <div class="emoji">๐ฃ</div>
                <div class="emoji">๐</div>
            </div>
            <details class="card-details">
                <summary class="card-summary">ะะฟะธั ััะปัะผั</summary>
                <p class="card-description">{{overview}}</p>
            </details>
            <a href="https://www.youtube.com/results?search_query=ััะตะนะปะตั+{{title}}" class="card-btn" rel="noopener noreferrer"
                target="_blank" title="ะะตัะตะณะปัะฝััะธ ััะตะนะปะตั" aria-label="ะะตัะตะณะปัะฝััะธ ััะตะนะปะตั">ะขัะตะนะปะตั</a>
        </div>
    </article>
</li>
{{/each}}